<!DOCTYPE html>
<html >
<head lang="en">
    <meta charset="UTF-8">
    <title>Amber Store</title>
    <link rel="stylesheet" type="text/css" href="app/lib/bootstrap.min.css"/>
</head>
<body ng-app="store" ng-controller='StoreController'>
    <script type="text/javascript" src="app/lib/angular.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/controller/StoreController.js"></script>

    <ul class="list-group">
        <li class="list-group-item" ng-repeat="product in storeProducts">
            <div>
                <h3>
                    {{product.name}}
                    <em class="pull-right">{{product.price | currency}}</em>
                </h3>
                <img ng-src={{product.images[0].full}}><br/>
                {{product.description}}
            </div>

            <div ng-repeat="image in product.images" class = "img-thumbnail">
                <img ng-src={{image.thumb}}>
            </div>
           <br/><button ng-show="product.canPurchase">Add to Cart</button>
        </li>
    </ul>

</body>
</html>